<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/886682cb-8c0d-46cd-ba2c-3ceb60c1fcc2/resourceGroups/DA-labb2mongo-RG/providers/Microsoft.Web/sites/minimalAPImongoAtlas</ResourceId>
    <ResourceGroup>DA-labb2mongo-RG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://minimalapimongoatlas.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>7a0aefd8-f5ad-416b-a11c-1b67959701f6</ProjectGuid>
    <PublishUrl>https://minimalapimongoatlas.scm.azurewebsites.net/</PublishUrl>
    <UserName>$minimalAPImongoAtlas</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>